.hrline{
    color:blue;
    min-height: 3px;
    width: 50%;
    margin: auto;
    
}


.review-bg{
    background-image: url(https://i.ibb.co/C807JrP/diego-jimenez-A-NVHPka9-Rk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}